# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# VS Code
.vscode/

# Android/iOS
android/.gradle/
ios/Pods/

# Alt dizinlerdeki tüm modules klasörleri
**/node_modules/

.idea/
.history/
node_modules/



**/rumeli-chat-app-firebase-adminsdk-fbsvc-5dd8147f7f.json