# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# Uploads
uploads/
uploads/*
!uploads/.gitkeep

# Runtime data
pids
*.pid
*.seed

rumeli-chat-app-firebase-adminsdk-fbsvc-5dd8147f7f.json
