.contactCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-image-and-texts{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.contact-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-name{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.contact-title{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--rumeli-color);
}