body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.createDepartmentButton {
    width: 470px;
    height: 55px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 18px;
    opacity: 1;
    border: none;
    border-bottom: 1px solid #910811;
    background-color: white;
    cursor: pointer;
}
.createDepartmentButton:hover{
    background-color: hsl(0, 0%, 95%);
}

.createDepartmentButton-text {
    width: 139px;

    height: 19px;

    font-family: Inter;

    font-weight: 500;

    font-style: normal;

    font-size: 16px;

    line-height: 100%;

    letter-spacing: 0%;

    text-align: center;

    vertical-align: middle;

    color: #222222;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}

.logo-area {
    width: 45px;

    height: 45px;

    background-color: #910811;

    border-radius: 50%;

    display: flex;
    justify-content: center;

    align-items: center;

    opacity: 1;

}

.logo {
    width: 24px;

    height: 24px;

    color: #FFFFFF;

    opacity: 1;

}