body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.createDepartmentButton {
    width: 100%;

    height: 55px;

    display: flex;
    align-items: center;

    gap: 18px;

    opacity: 1;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px 5px 0;
    border-radius: 25px;
}
.createDepartmentButton:hover{
    background-color: hsl(0, 0%, 95%);
}

.createDepartmentButton-text {

    font-family: Inter;

    font-weight: 500;

    font-style: normal;

    font-size: 16px;

    line-height: 100%;

    letter-spacing: 0%;

    text-align: center;

    vertical-align: middle;

    color: #222222;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}

.logo-area {
    width: 45px;

    height: 45px;

    background-color: #910811;

    border-radius: 50%;

    display: flex;
    justify-content: center;

    align-items: center;

    opacity: 1;

}

.logo-group {
    width: 21px;

    height: 21px;

    position: relative;
    top: 1px;

    left: 2px;

    color: #FFFFFF;

    opacity: 1;

}