body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.groupApprovalButton {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 30px;
  gap: 20px;
  color: green;
  border-radius: 20px;
  border: 1px solid green;
  cursor: pointer;
}

.groupApprovalButton:hover {
  background-color: green;
  color: white;
}
.groupApprovalButton:active {
  background-color: hsl(120, 100%, 35%);
}

.groupApprovalButton span {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 500;
}

.spinnerLoader {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.spinnerLoader:hover {
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
