

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login-left-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 800px;
}

.logo {
    width: 150px;
    height: auto;
}

.login-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-link{
    color: var(--rumeli-color);
    text-decoration: none;
}

.login-title{
    padding: 0;
    margin: 0;
    color: var(--rumeli-color);
    font-size: 2rem;
}

.login-subtitle{
    padding: 0;
    margin: 0;
    color: #777777;
    font-size: 1.2rem;
}

.login-right-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    background-color: #f0f0f0;
}

.login-right-panel h1{
    color: var(--rumeli-color);
    font-size: 3rem;
}

.login-right-panel p{
    color: #222222;
    font-size: 1.2rem;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}