body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    background-color: #f9f9f9;
}

.rehber-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
    gap: 30px;
    align-items: center;
}

.Sidebar {
    width: 80px;
    flex-shrink: 0;
}

.rehber-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-sizing: border-box;
    scrollbar-width: none;
    width: 500px;
}

.rehber-content::-webkit-scrollbar {
    display: none;
}

.button-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.sortbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.person-list {
    display: flex;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    align-items: center;
    flex: 1 1 0;
    width: 100%;
}

.rehber-card {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 1 0;
    width: 500px;
    margin-bottom: 10px;
}

.rehber-right-panel {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #f3d8db;
    border-radius: 30px;
    margin: 40px 20px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #910811;
}

.divider {
    width: 100%;
    border-bottom: 2px solid var(--rumeli-color);
}