body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sortBar {

    height: 24px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    align-items: center;

    opacity: 1;

}

.sortBar-text {
    width: 66px;

    height: 19px;

    font-family: Inter;

    font-weight: 500;

    font-style: normal;

    font-size: 16px;

    line-height: 100%;

    letter-spacing: 0%;

    text-align: center;

    vertical-align: middle;

    color: #222222;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}

.default-area {
    width: 123px;

    height: 24px;

    display: flex;
    align-items: center;

    gap: 20px;

    opacity: 1;

}

.default-text {
    width: 79px;

    height: 19px;

    font-family: Inter;

    font-weight: 500;

    font-style: normal;

    font-size: 16px;

    line-height: 100%;

    letter-spacing: 0%;

    text-align: center;

    vertical-align: middle;

    color: #222222;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}

.option-icon {
    width: 24px;

    height: 24px;

    opacity: 1;

}