:root {
  --rumeli-color: #910811;
  --text-primary-color: #222222;
  --text-secondary-color: #777777;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F5F7FA;
  --border-primary: #E6EAEF;
  --primary-font : 'Inter', sans-serif;
}